body
{
  background-color: gray;
}
#main_page
{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
._header
{
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  height: 50px;
  width: 100%;
}
._nav
{
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
  height: 50px;
  width: 100%;
}
.najczesciej_czytane_artykuly
{
  float:left;
  margin-left: auto;
  margin-right: auto;
  background-color: cyan;
  height: 1000px;
  width: 80%;
}
._aside
{
  margin-left: auto;
  margin-right: auto;
  float:left;
  background-color: purple;
  height: 400px;
  width: 20%;
}
._reklamy
{
  margin-left: auto;
  margin-right: auto;
  float:left;
  background-color: orange;
  height: 600px;
  width: 20%;
}
._footer
{
  clear:both;
  margin-left: auto;
  margin-right: auto;
  background-color: green;
  height: 50px;
  width: 100%;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
