h1
{
  color: green;
}

div * p
{
  color: blue;
}

article > h3
{
  color: purple;
}

h4 + h5
{
  margin-top: -7mm;
}

.p1
{
  background-color: gray;
  color: yellow;
}

#div1
{
  height: 100px;
  width: 100px;
  background-color: gray;
}
